<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Neoul Calendar</title>
    <link rel="shortcut icon" href="/assets/images/neoul.ico" type="image/x-icon">
    <link rel="icon" href="/assets/images/neoul.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/calendar.css" media="all"/>
    <link rel="stylesheet" href="/assets/css/default.css" media="all"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let years = /*[[${years}]]*/;
        let months = /*[[${months}]]*/;
        let nowMonth = /*[[${month}]]*/;
        let nowYear = /*[[${year}]]*/;
        let dates = /*[[${dates}]]*/;
        let auth = /*[[${session.Auth}]]*/;
        /*]]>*/
    </script>
    <script type="text/javascript" src="/assets/js/calendar.js"></script>
</head>
<body>
    <header>
        <div id="headLeft" style="cursor:pointer;">
            <span class="companyFont">N E O U L</span>
            <span id="nameMargin"></span>
            <span class="companyFont">C a l e n d a r</span>
        </div>
        <div id="headRight" th:object="${emp}">
            <input type="hidden" th:value="${session.Auth}" name="empId">
            <span class="roleAndNameFont" th:text="*{empName}"></span>
            <span class="roleAndNameFont">[ <span th:text="*{empTitle}"></span> ] / </span>
            <span class="roleAndNameFont pointer" id="logout">LOGOUT</span>
        </div>
        <input type="hidden" name="nowDateTime" value="0">
    </header>
    <aside>
        <div id="btnScheduleBox">
            <input type="button" id="btnSchedule" value="일정등록">
        </div>
        <div class="miniCalendarBox">
            <div class="miniYearMonth">
                <div style="float:left;">
                    <img src="/assets/images/mini_arrow_left.png" class="miniArrows" id="miniArrowLeft">
                </div>
                <div style="float: left;margin: 0 5px;">
                    <span th:text="${year}" id="miniYear"></span>
                    <span>.</span>
                    <span th:text="${month}" id="miniMonth"></span>
                </div>
                <div>
                    <img src="/assets/images/mini_arrow_right.png" class="miniArrows" id="miniArrowRight">
                </div>
            </div>
            <div class="miniCalendar">
                <table class="tblMiniCalendar">
                    <tr class="miniCalendarTr">
                        <td class="miniDay red">일</td>
                        <td class="miniDay">월</td>
                        <td class="miniDay">화</td>
                        <td class="miniDay">수</td>
                        <td class="miniDay">목</td>
                        <td class="miniDay">금</td>
                        <td class="miniDay blue">토</td>
                    </tr>
                    <tr class="miniCalendarTr">
                        <td class="miniDate" th:each="num:${#numbers.sequence(0,6)}" th:text="${dates.get(num)}"></td>
                    </tr>
                    <tr class="miniCalendarTr">
                        <td class="miniDate" th:each="num:${#numbers.sequence(7,13)}" th:text="${dates.get(num)}"></td>
                    </tr>
                    <tr class="miniCalendarTr">
                        <td class="miniDate" th:each="num:${#numbers.sequence(14,20)}" th:text="${dates.get(num)}"></td>
                    </tr>
                    <tr class="miniCalendarTr">
                        <td class="miniDate" th:each="num:${#numbers.sequence(21,27)}" th:text="${dates.get(num)}"></td>
                    </tr>
                    <tr class="miniCalendarTr">
                        <td class="miniDate" th:each="num:${#numbers.sequence(28,34)}" th:text="${dates.get(num)}"></td>
                    </tr>
                    <tr class="miniCalendarTr">
                        <td class="miniDate" th:each="num:${#numbers.sequence(35,41)}" th:text="${dates.get(num)}"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <div style="position: relative;height: 40px;line-height: 40px;">
                <span style="margin-left: 10px">너울캘린더</span>
            </div>
            <div id="myCalendars">
                <div class="divCal">
                    <input type="checkbox" id="cal1" checked>
                    <label for="cal1"></label><span>내 캘린더</span>
                </div>
                <div class="divCal">
                    <input type="checkbox" id="cal2" checked>
                    <label for="cal2"></label><span>프로젝트</span>
                </div>
            </div>
        </div>
    </aside>
    <section>
        <div id="sectionHead">
            <div class="searchAndYearMonth">
                <input type="text" placeholder="일정 검색" id="textSearch">
                <input type="button" value="검색" id="btnSearch">
            </div>
            <div class="searchAndYearMonth">
                <div style="position: absolute;right: 130px;">
                    <div id="left" class="imgArrows">
                        <img src="/assets/images/arrow_left.png">
                    </div>
                    <div style="float: left">
                        <span th:text="${year}" class="fontYearMonth"></span>
                        <span class="fontYearMonth">.</span>
                        <span th:text="${month}" class="fontYearMonth"></span>
                    </div>
                    <div id="right" class="imgArrows">
                        <img src="/assets/images/arrow_right.png">
                    </div>
                </div>
            </div>
        </div>
        <div id="divTable">
            <table id="mainCalendar">
                <tr class="mainCalendarTr">
                    <td class="day red">일</td>
                    <td class="day">월</td>
                    <td class="day">화</td>
                    <td class="day">수</td>
                    <td class="day">목</td>
                    <td class="day">금</td>
                    <td class="day blue">토</td>
                </tr>
                <tr class="mainCalendarTr">
                    <td class="date" th:each="num:${#numbers.sequence(0,6)}" th:text="${dates.get(num)}" data-month="0" data-year="0"></td>
                </tr>
                <tr class="mainCalendarTr">
                    <td class="date" th:each="num:${#numbers.sequence(7,13)}" th:text="${dates.get(num)}" data-month="0" data-year="0"></td>
                </tr>
                <tr class="mainCalendarTr">
                    <td class="date" th:each="num:${#numbers.sequence(14,20)}" th:text="${dates.get(num)}" data-month="0" data-year="0"></td>
                </tr>
                <tr class="mainCalendarTr">
                    <td class="date" th:each="num:${#numbers.sequence(21,27)}" th:text="${dates.get(num)}" data-month="0" data-year="0"></td>
                </tr>
                <tr class="mainCalendarTr">
                    <td class="date" th:each="num:${#numbers.sequence(28,34)}" th:text="${dates.get(num)}" data-month="0" data-year="0"></td>
                </tr>
                <tr class="mainCalendarTr">
                    <td class="date" th:each="num:${#numbers.sequence(35,41)}" th:text="${dates.get(num)}" data-month="0" data-year="0"></td>
                </tr>
            </table>
        </div>

        <!--일정 등록 팝업-->
        <div id="list">
            <div class="head">
                <h3 style="font-weight: 500;" id="headTitle">일정 등록</h3>
            </div>
            <div id="section">
                <table style="width: 100%">
                    <tr>
                        <td colspan="2" id="tdAddTodoTitle">
                            <input type="text" placeholder="일정 제목" id="inpTodoTitle">
                        </td>
                    </tr>
                    <tr class="trAddTodo">
                        <th id="trAddTodoFirst">일시</th>
                        <td>
                            <input type="text" class="startAndEndDate" id="startDate" readonly>
                            <select class="startAndEndTime" id="startTime" style="width: 104px;vertical-align: bottom;"></select>
                            <span>-</span>
                            <input type="text" class="startAndEndDate" id="endDate" readonly>
                            <select class="startAndEndTime" id="endTime" style="width: 104px;vertical-align: bottom;"></select>
                            <div style="margin-top: 5px;">
                                <input type="checkbox" id="chkOneDay" checked><label style="font-weight: 500;font-size: 14px">하루종일</label>
                            </div>
                        </td>
                    </tr>
                    <tr class="trAddTodo">
                        <th>캘린더</th>
                        <td>
                            <select id="selCalendar">
                                <option value="선택" selected>선택</option>
                                <option value="내캘린더">내 캘린더</option>
                                <option value="프로젝트">프로젝트</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="trAddTodo">
                        <th style="vertical-align: top;">일정 참여자</th>
                        <td>
                            <select id="deptName">
                                <option selected>부서</option>
                                <option value="UI/UX팀">UI/UX팀</option>
                                <option value="교육연구팀">교육연구팀</option>
                                <option value="서비스개발팀">서비스개발팀</option>
                                <option value="신사업개발팀">신사업개발팀</option>
                            </select>
                            <select id="todoEmpName">
                                <option selected>사원명</option>
                            </select>
                            <div class="todoPaticipantsBox"></div>
                        </td>
                    </tr>
                    <tr class="trAddTodo">
                        <th>장소</th>
                        <td><input type="text" placeholder="장소 입력" style="width: 475px" id="todoLocation"> </td>
                    </tr>
                    <tr class="trAddTodo">
                        <th>반복</th>
                        <td id="tdSelectRepeat">
                            <select id="repeat">
                                <option value="반복안함">반복안함</option>
                                <option value="매일">매일</option>
                                <option value="매주">매주</option>
                                <option value="매월">매월</option>
                                <option value="매년">매년</option>
                            </select>
                            <span id='titleRepeatEnd' class="endRepeat">종료</span>
                            <input type="text" id="repeatEndDate" class="endRepeat" readonly>
                        </td>
                    </tr>
                    <tr class="trAddTodo">
                        <th style="padding-bottom: 10px;">알림</th>
                        <td style="padding-bottom: 10px;">
                            <select id="alarm"></select>
                        </td>
                    </tr>
                    <tr class="trAddTodo">
                        <th>설명</th>
                        <td><textarea cols="70" rows="5" style="overflow: auto;" id="todoExplain"></textarea></td>
                    </tr>
                </table>
                <input type="button" value="추가하기" id="btnAdd">
                <input type="button" value="취소" id="btnCancel">
            </div>
        </div>

        <!--미니 일정박스 팝업-->
        <div class="miniScheduleBox">
            <div class="head">
                <h3 style="font-weight: 500;" id="schTitle"></h3>
                <input type="hidden" name="schNo" value="0">
                <input type="hidden" name="schTaskMapKey" value="0">
                <input type="hidden" name="selectDate" value="0">
                <input type="button" value="X" id="btnClose">
            </div>
            <div id="miniSchSection">
                <table style="width: 100%">
                    <tr class="trMiniSch">
                        <th>일시</th>
                        <td id="schDate"></td>
                    </tr>
                    <tr class="trMiniSch">
                        <th>장소</th>
                        <td id="schLocation"></td>
                    </tr>
                    <tr class="trMiniSch">
                        <th>알림</th>
                        <td id="schAlarm"></td>
                    </tr>
                </table>
                <div id="miniSchBtnBox">
                    <input type="button" value="상세보기" id="btnDetail">
                    <input type="button" value="삭제" id="btnDel">
                </div>
            </div>
        </div>

        <!--단건일정 삭제 팝업-->
        <div id="oneSchDeleteBox">
            <div class="head">
                <h3 style="font-weight: 500;" class="scheduleDelete">일정 삭제</h3>
            </div>
            <div class="delSection">
                <div id="oneSchDelText">해당 일정을 삭제하시겠습니까?</div>
                <div class="delBtnBox">
                    <input type="button" value="확인" id="btnOneSchDelConfirm">
                    <input type="button" value="취소" id="btnOneSchDelCancel">
                </div>
            </div>
        </div>

        <!--반복일정 삭제 팝업-->
        <div id="reSchDeleteBox">
            <div class="head">
                <h3 style="font-weight: 500;" class="scheduleDelete">일정 삭제</h3>
            </div>
            <div class="delSection">
                <div id="reSchDelText">삭제하고자 하는 일정을 선택해주세요.</div>
                <div id="radioBox">
                    <input type="radio" name="delSch" class="delRadio" value="이일정만" checked><span>이 일정만</span><br>
                    <input type="radio" name="delSch" class="delRadio" value="이일정이후모든일정"><span>이 일정 이후 모든일정</span><br>
                    <input type="radio" name="delSch" class="delRadio" value="전체일정"><span>전체 일정</span>
                </div>
                <div class="delBtnBox">
                    <input type="button" value="확인" id="btnReSchDelConfirm">
                    <input type="button" value="취소" id="btnReSchDelCancel">
                </div>
            </div>
        </div>

        <!--시작 날짜 선택 팝업-->
        <div id="showStartDate"></div>
        <div class="selStartDate">
            <div class="miniCalendarBox">
                <div class="miniYearMonth" style="margin-left: 65px;">
                    <div style="float:left;">
                        <img src="/assets/images/mini_arrow_left.png" class="startMiniArrows" id="startMiniArrowLeft">
                    </div>
                    <div style="float: left;margin: 0 5px;">
                        <span th:text="${year}" id="startMiniYear"></span>
                        <span>.</span>
                        <span th:text="${month}" id="startMiniMonth"></span>
                    </div>
                    <div>
                        <img src="/assets/images/mini_arrow_right.png" class="startMiniArrows" id="startMiniArrowRight">
                    </div>
                </div>
                <div class="miniCalendar">
                    <table class="tblMiniCalendar">
                        <tr class="miniCalendarTr">
                            <td class="miniStartDay red">일</td>
                            <td class="miniStartDay">월</td>
                            <td class="miniStartDay">화</td>
                            <td class="miniStartDay">수</td>
                            <td class="miniStartDay">목</td>
                            <td class="miniStartDay">금</td>
                            <td class="miniStartDay blue">토</td>
                        </tr>
                        <tr class="miniCalendarTr">
                            <td class="miniStartDate" th:each="num:${#numbers.sequence(0,6)}" th:text="${dates.get(num)}"></td>
                        </tr>
                        <tr class="miniCalendarTr">
                            <td class="miniStartDate" th:each="num:${#numbers.sequence(7,13)}" th:text="${dates.get(num)}"></td>
                        </tr>
                        <tr class="miniCalendarTr">
                            <td class="miniStartDate" th:each="num:${#numbers.sequence(14,20)}" th:text="${dates.get(num)}"></td>
                        </tr>
                        <tr class="miniCalendarTr">
                            <td class="miniStartDate" th:each="num:${#numbers.sequence(21,27)}" th:text="${dates.get(num)}"></td>
                        </tr>
                        <tr class="miniCalendarTr">
                            <td class="miniStartDate" th:each="num:${#numbers.sequence(28,34)}" th:text="${dates.get(num)}"></td>
                        </tr>
                        <tr class="miniCalendarTr">
                            <td class="miniStartDate" th:each="num:${#numbers.sequence(35,41)}" th:text="${dates.get(num)}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!--종료 날짜 선택 팝업-->
        <div id="showEndDate"></div>
        <div class="selEndDate">
            <div class="miniCalendarBox">
                <div class="miniYearMonth" style="margin-left: 65px;">
                    <div style="float:left;">
                        <img src="/assets/images/mini_arrow_left.png" class="endMiniArrows" id="endMiniArrowLeft">
                    </div>
                    <div style="float: left;margin: 0 5px;">
                        <span th:text="${year}" id="endMiniYear"></span>
                        <span>.</span>
                        <span th:text="${month}" id="endMiniMonth"></span>
                    </div>
                    <div>
                        <img src="/assets/images/mini_arrow_right.png" class="endMiniArrows" id="endMiniArrowRight">
                    </div>
                </div>
                <div class="miniCalendar">
                    <table class="tblMiniCalendar">
                        <tr class="miniCalendarTr">
                            <td class="miniEndDay red">일</td>
                            <td class="miniEndDay">월</td>
                            <td class="miniEndDay">화</td>
                            <td class="miniEndDay">수</td>
                            <td class="miniEndDay">목</td>
                            <td class="miniEndDay">금</td>
                            <td class="miniEndDay blue">토</td>
                        </tr>
                        <tr class="miniCalendarTr">
                            <td class="miniEndDate" th:each="num:${#numbers.sequence(0,6)}" th:text="${dates.get(num)}"></td>
                        </tr>
                        <tr class="miniCalendarTr">
                            <td class="miniEndDate" th:each="num:${#numbers.sequence(7,13)}" th:text="${dates.get(num)}"></td>
                        </tr>
                        <tr class="miniCalendarTr">
                            <td class="miniEndDate" th:each="num:${#numbers.sequence(14,20)}" th:text="${dates.get(num)}"></td>
                        </tr>
                        <tr class="miniCalendarTr">
                            <td class="miniEndDate" th:each="num:${#numbers.sequence(21,27)}" th:text="${dates.get(num)}"></td>
                        </tr>
                        <tr class="miniCalendarTr">
                            <td class="miniEndDate" th:each="num:${#numbers.sequence(28,34)}" th:text="${dates.get(num)}"></td>
                        </tr>
                        <tr class="miniCalendarTr">
                            <td class="miniEndDate" th:each="num:${#numbers.sequence(35,41)}" th:text="${dates.get(num)}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!--반복종료 날짜 선택 팝업-->
        <div id="showRepeatDate"></div>
        <div class="selRepeatDate">
            <div class="miniCalendarBox">
                <div class="miniYearMonth" style="margin-left: 65px;">
                    <div style="float:left;">
                        <img src="/assets/images/mini_arrow_left.png" class="repeatMiniArrows" id="repeatMiniArrowLeft">
                    </div>
                    <div style="float: left;margin: 0 5px;">
                        <span th:text="${year}" id="repeatMiniYear"></span>
                        <span>.</span>
                        <span th:text="${month}" id="repeatMiniMonth"></span>
                    </div>
                    <div>
                        <img src="/assets/images/mini_arrow_right.png" class="repeatMiniArrows" id="repeatMiniArrowRight">
                    </div>
                </div>
                <div class="miniCalendar">
                    <table class="tblMiniCalendar">
                        <tr class="miniCalendarTr">
                            <td class="miniEndDay red">일</td>
                            <td class="miniEndDay">월</td>
                            <td class="miniEndDay">화</td>
                            <td class="miniEndDay">수</td>
                            <td class="miniEndDay">목</td>
                            <td class="miniEndDay">금</td>
                            <td class="miniEndDay blue">토</td>
                        </tr>
                        <tr class="miniCalendarTr">
                            <td class="miniRepeatDate" th:each="num:${#numbers.sequence(0,6)}" th:text="${dates.get(num)}"></td>
                        </tr>
                        <tr class="miniCalendarTr">
                            <td class="miniRepeatDate" th:each="num:${#numbers.sequence(7,13)}" th:text="${dates.get(num)}"></td>
                        </tr>
                        <tr class="miniCalendarTr">
                            <td class="miniRepeatDate" th:each="num:${#numbers.sequence(14,20)}" th:text="${dates.get(num)}"></td>
                        </tr>
                        <tr class="miniCalendarTr">
                            <td class="miniRepeatDate" th:each="num:${#numbers.sequence(21,27)}" th:text="${dates.get(num)}"></td>
                        </tr>
                        <tr class="miniCalendarTr">
                            <td class="miniRepeatDate" th:each="num:${#numbers.sequence(28,34)}" th:text="${dates.get(num)}"></td>
                        </tr>
                        <tr class="miniCalendarTr">
                            <td class="miniRepeatDate" th:each="num:${#numbers.sequence(35,41)}" th:text="${dates.get(num)}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <p>Copyrightⓒ <span style="color: #054AA1;font-weight: bold;">NEOUL</span><span style="color: #098BD9;">SOFT</span> Calendar. All Rights Reserved.</p>
    </footer>
</body>
</html>