<div id="newCalendar">
    <div id="newCalHeader">
        <span style="color: white;margin-left: 10px;">새 캘린더 만들기</span>
    </div>
    <div id="newCalSection">
        <div id="selColorAndTitle">
            <img src="/assets/images/color1_circle_uncheck.png" id="nowCalColor">
            <img src="/assets/images/triangle_arrow_down.png" id="selColor">
            <input type="text" placeholder="캘린더 이름" id="calendarName">
        </div>
        <div id="calendarParticipants">
            <span style="margin-left: 15px;font-size: 14px;">캘린더 참여자</span>
                <select id="deptName">
                    <option selected>부서</option>
                    <option value="UI/UX팀">UI/UX팀</option>
                    <option value="교육연구팀">교육연구팀</option>
                    <option value="서비스개발팀">서비스개발팀</option>
                    <option value="신사업개발팀">신사업개발팀</option>
                </select>
            <select id="empName">
                <option selected>사원명</option>
                <option value="아무개1">아무개1</option>
                <option value="아무개2">아무개2</option>
                <option value="아무개3">아무개3</option>
                <option value="아무개4">아무개4</option>
            </select>
        </div>
        <div id="participantsBox">
            <div class="selectedEmpName"></div>
        </div>
    </div>
    <div id="newCalFooter">
        <input type="button" value="추가하기" id="btnAddNewCal">
        <input type="button" value="취소" id="btnCancelNewCal">
    </div>
    <div id="displayControl">
        <div id="variousColor">
            <img src="/assets/images/color1_circle_checked.png" class="circleColor">
            <img src="/assets/images/color2_circle_uncheck.png" class="circleColor">
            <img src="/assets/images/color3_circle_uncheck.png" class="circleColor">
            <img src="/assets/images/color4_circle_uncheck.png" class="circleColor">
            <img src="/assets/images/color5_circle_uncheck.png" class="circleColor"><br>
            <img src="/assets/images/color6_circle_uncheck.png" class="circleColor">
            <img src="/assets/images/color7_circle_uncheck.png" class="circleColor">
            <img src="/assets/images/color8_circle_uncheck.png" class="circleColor">
            <img src="/assets/images/color9_circle_uncheck.png" class="circleColor">
            <img src="/assets/images/color10_circle_uncheck.png" class="circleColor"><br>
            <img src="/assets/images/color11_circle_uncheck.png" class="circleColor">
            <img src="/assets/images/color12_circle_uncheck.png" class="circleColor">
            <img src="/assets/images/color13_circle_uncheck.png" class="circleColor">
            <img src="/assets/images/color14_circle_uncheck.png" class="circleColor">
            <img src="/assets/images/color15_circle_uncheck.png" class="circleColor">
        </div>
    </div>
</div>