<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neoulsoft.calendar.mapper.TodoMapper">
    <select id="selectList" parameterType="com.neoulsoft.calendar.dto.TodoDto" resultType="com.neoulsoft.calendar.dto.TodoDto">
        SELECT * FROM todo WHERE tmonth=#{tMonth} and tdate=#{tDate}
    </select>

    <insert id="insertList" parameterType="com.neoulsoft.calendar.dto.TodoDto">
        INSERT INTO todo (tmonth, tdate, tindex,tcontent) values (#{tMonth}, #{tDate}, #{tIndex}, #{tContent})
    </insert>

    <update id="updateList" parameterType="com.neoulsoft.calendar.dto.TodoDto">
        UPDATE todo SET tcontent=#{tContent} WHERE tmonth=#{tMonth} and tdate=#{tDate} and tindex=#{tIndex}
    </update>

    <delete id="deleteList" parameterType="com.neoulsoft.calendar.dto.TodoDto">
        DELETE FROM todo WHERE tmonth=#{tMonth} and tdate=#{tDate} and tcontent=#{tContent}
    </delete>
</mapper>